<h1>Papers</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Company</th>
      <th>Content</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.url %></td>
        <td><%= paper.company %></td>
        <td><%= paper.content %></td>
        <td><%= paper.comment %></td>
        <td><%= link_to 'Show', paper %></td>
        <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
        <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_paper_path %>



</body>

</html>
