<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My favorite News</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="topbar">
    </div>
    
    <div class="sidebar border">
        <ul class="mylist">
            <% ary = ["조선일보", "경향신문", "BBC", "The Korean Times", "Washington Post"] %>
            <% ary.each do |a| %>
            <li> <%= a %> 
              <ul class="mylist_inner">
                <% Paper.all.each do |p| %>
                    <% if p.company == a %>
                       <li>
                         <%= link_to home_show_path(p.id) do %>
                             <%= p.created_at.getlocal.strftime("%m월 %d일 %H시") %>
                         <% end %>
                     </li>
                    <% end %>
                <% end %>
              </ul>
            </li>
            <% end %>
        </ul>
    </div>
    <%= yield %>


<p id="notice"><%= notice %></p>
  </body>
</html>
